body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #CBD2E1;
}

.card {
    width: 700px;
    height: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: white;
}


form{
    width:35rem;
    margin: auto;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: whitesmoke;
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    padding: 20px 25px;
}
input[type=text], input[type=password]{
    width: 100%;
    margin: 10px 0;
    border-radius: 5px;
    padding: 15px 18px;
    box-sizing: border-box;
  }

  #sbut{
    background-color: #030804;
    color: white;
    padding: 14px 20px;
    border-radius: 10px;
    margin: 7px 0;
    width: 100%;
    font-size: 18px;
  }

  .headingsContainer{
    text-align: left;
}

button:hover {
    opacity: 0.6;
    cursor: pointer;
}

span.forgotpsd a {
    float: right;
    color: black;
    padding-top: 16px;
  }
 
.forgotpsd a{
    color: rgb(74, 146, 235);
  }
  
.forgotpsd a:link{
    text-decoration: none;
  }
 
  .register{
    color: white;
    
  }
  
  .register a{
    color: rgb(74, 146, 235);
  }
  
  .register a:link{
    text-decoration: none;
  }

@media screen and (max-width: 600px) {
    form{
      width: 25rem;
    }
  }
  
  @media screen and (max-width: 400px) {
    form{
      width: 20rem;
    }
  }
 